body{
	background-color: #222;
	color: #fff;
	text-shadow: 2px 0 0 #111, 0 2px 0 #111, -2px 0 0 #111, 0 -2px 0 #111,
	  2px 2px 0 #111, 2px -2px 0 #111, -2px 2px 0 #111, -2px -2px 0 #111;  
	margin:0;
	padding:0;
}

h1{
	background-color: #eee;
	color: #222;
    text-align: center;
	text-shadow: 2px 0 0 #fff, 0 2px 0 #fff, -2px 0 0 #fff, 0 -2px 0 #fff,
	  2px 2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff;  
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 50px;
}


.discription{
	background-color: #eee;
	color: #222;
	text-shadow: 2px 0 0 #fff, 0 2px 0 #fff, -2px 0 0 #fff, 0 -2px 0 #fff,
	  2px 2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff;  
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 30px;
	font-weight: bold;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 8%;
}


#canvas-wrapper{
	width:1248px;
	height: 720px;
	margin:0 auto;
	border: 0.4em double #777;
	border-radius: 12px;
	/*background-image: url(./images/free-grass.png);*/
}


